<div ng-controller="AddCampaign" class="container-fluid">
  <div class="col-lg-12">
    <h1 class="page-header">
        Add Campaign
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
        </li>
        <li class="active">
            <i class="fa fa-fw fa-bar-chart-o"></i> Add Campaign
        </li>
    </ol>
  </div>
  <form role="form" id="addCampaign" ng-submit="submit()">
    <div class="row">
      <div class="form-group col-lg-6">
        <div class="form-group col-lg-2">
          <label>Campaign Name</label>
        </div>
        <div class="form-group col-lg-6">
          <input class="form-control" id="cn" placeholder="Enter campaign name" required="" autofocus=""/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-8">
        <div class="form-group col-lg-2">
          <label>Active</label>
        </div>
        <div class="form-group col-lg-4">
          <label>From:</label>
          <input type="date" id="af"/>
          <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        <div class="form-group col-lg-4">
          <label>To:</label>
          <input type="date" id="at"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-8">
        <div class="form-group col-lg-2">
          <label>Redeemable</label>
        </div>
        <div class="form-group col-lg-4">
          <label>From:</label>
          <input type="date" id="rf"/>
          <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        <div class="form-group col-lg-4">
          <label>To:</label>
          <input type="date" id="rt"/>
          <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
      </div> 
    </div>
    <div class="row">
      <div class="form-group col-lg-6">
        <div class="form-group col-lg-2">
          <label>Rewardable</label>
        </div>
        <div class="form-group col-lg-3">
          <input type="checkbox" value="" id="r" checked disabled required=""/>
        </div>
      </div>
    </div>
    
    
    <hr/>
    
    <div class="newdeal">
      <h2 ng-if="deals.length == 0">Define Deal</h2>
      <h2 ng-if="deals.length > 0">Add Another Deal</h2>
      <div class="cloneDeal">
        <div class="row">
          <div class="form-group col-lg-6">
            <div class="form-group col-lg-2">
              <label>Deal Name</label>
            </div>
            <div class="form-group col-lg-6">
              <input class="form-control" id="dealName" placeholder="Enter deal name..." ng-model="dealName"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-6" style="line-height: 2.5;">
            <div class="form-group col-lg-2">
              <label>Deal Value</label>
            </div>
            <!-- <div class="form-group col-lg-2">
              <input class="form-control" id="dealValue" placeholder="Deal value..." ng-model="dealValue"/>
            </div> -->
            <div class="input-group col-lg-2" style="float: left;">
              <div class="input-group-addon">$</div>
              <input class="form-control" id="dealValue" style="width: 105px;" placeholder="Deal value..." ng-model="dealValue">
            </div>
            <div class="form-group col-lg-2">
              <label> -> Discount </label>
            </div>
            <!-- <div class="form-group col-lg-2">
              <input class="form-control" id="discount" placeholder="Discount..." ng-model="discountValue"/>
            </div> -->
            <div class="input-group col-lg-2" style="float: left;">
              <div class="input-group-addon">%</div>
              <input class="form-control" id="discount" placeholder="Discount..." ng-model="discountValue">
            </div>
          </div>
        </div>
        <div class="row" ng-if="dealValue * (discountValue/100)">
          <div class="form-group col-lg-6">
            <div class="form-group col-lg-2">
              <label>Deal Cost</label>
            </div>
            <div class="form-group col-lg-3">
              <input class="form-control" id="dealCost" value="{{dealValue * (1 - (discountValue/100) )}}" disabled/>
            </div>
          </div>
        </div>
        Reward to promoter 
          <div class="form-inline" style="display: inline-block;">
            <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input class="form-control inputInline" style="width:50px; margin: 0;" id="promoterReward" ng-model="promoterReward"/>
            </div>
            </div>
          </div>
        (should be at least 5% of deal cost and not less than a $1)
        <!-- <p>Reward to promoter <input class="form-control inputInline" style="width:50px;" id="promoterReward" placeholder="$" ng-model="promoterReward"/>$ (should be at least 5% of deal cost and not less than a $1)</p> -->
        
        <div style="clear:both;"></div>
        <button type="button" class="btn btn-success pull-left" ng-click="addNewDeal()">Add</button>
        <div style="clear:both;"></div>
        <hr/>
      </div>
    </div>
    
    <div class="panel-group" id="accordion">
    
      <div class="panel panel-default" ng-repeat="deal in deals">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
              {{deal.name}} <button type="button" class="btn btn-xs btn-info pull-right" ng-click="$('.collapse').collapse()">Edit Deal</button>
            </a>
          </h4>
        </div>
        <div id="collapse{{$index}}" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="editdeal" ng-if="deal">
              <div class="cloneDeal">
                <div class="row">
                  <div class="form-group col-lg-6">
                    <div class="form-group col-lg-2">
                      <label>Deal Name</label>
                    </div>
                    <div class="form-group col-lg-6">
                      <input class="form-control" id="dealName{{$index}}" placeholder="Enter deal name..." ng-model="deal.name"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-6" style="line-height: 2.5;">
                    <div class="form-group col-lg-2">
                      <label>Deal Value</label>
                    </div>
                    <div class="form-group col-lg-2">
                      <input class="form-control" id="dealValue{{$index}}" placeholder="Deal value..." ng-model="deal.value"/>
                    </div>
                    <div class="form-group col-lg-2">
                      <label> -> Discount </label>
                    </div>
                    <div class="form-group col-lg-2">
                      <input class="form-control" id="discount{{$index}}" placeholder="Discount..." ng-model="deal.discount"/>
                    </div>
                  </div>
                </div>
                <div class="row" ng-if="dealValue * (deal.discount/100)">
                  <div class="form-group col-lg-6">
                    <div class="form-group col-lg-2">
                      <label>Deal Cost</label>
                    </div>
                    <div class="form-group col-lg-3">
                      <input class="form-control" id="dealCost{{$index}}" value="{{deal.value * (1 - (deal.discount/100) )}}" disabled/>
                    </div>
                  </div>
                </div>
                
                <p>Reward to promoter <input class="form-control inputInline" style="width:50px;" id="promoterReward{{$index}}" placeholder="20" ng-model="deal.promoterReward"/>$ (Should be at least X$ which 5% of deal cost)</p>
                
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
                  <button type="button" class="btn btn-success pull-right" ng-click="saveDeal(deal)">Save</button>
                </a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" id="collapse{{$index}}">
                <button type="button" class="btn btn-danger pull-right" ng-click="deleteDeal(deal, $index)">Delete</button>
                </a>
                <div style="clear:both;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div ng-if="deals.length > 0">
      <br/><br/><br/><br/><br/>
      <button type="button" type="submit" ng-click="submit()" class="btn btn-lg btn-success pull-right">Create Campaign</button>
    </div>
    
  </form>
</div>